<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blog website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', articles_path, :class => 'navbar-link button btn btn-primary'  %>
        <% if user_signed_in? %>
          <%= link_to "Edit Registration", edit_user_registration_path, :class => 'navbar-brand' %>
          <%= link_to "LogOut", destroy_user_session_path, method: :delete, :class => 'navbar-brand' %>
          <%= link_to current_user.email, :class => 'navbar-brand' %>
        <% else %>
          <%= link_to "SignUp", new_user_registration_path, :class => 'navbar-brand' %>
          <%= link_to "LogIn", new_user_session_path, :class => 'navbar-brand' %>
          <%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path(:facebook) %>
        <% end %>
      </li>
    </ul>
   <!--  <form class="form-inline my-2 my-lg-0"action="/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <%= form_tag(search_page_path, :method => "get",  class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "Search", :class => 'btn btn-primary glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
  </div>
</nav>